/* stylelint-disable */

#tutoom_view_recordings_header > h6 {
  font-size: 20px;
}

#tutoom-start-button:hover > .spinner-border,
#tutoom-join-button:hover > .spinner-border,
#tutoom-end-button:hover > .spinner-border {
  color: #fff !important;
  box-shadow: none !important;
}

#tutoom-start-button,
#tutoom-join-button,
#tutoom-end-button {
  outline: none !important;
  box-shadow: none !important;
}

#tutoom-start-button:hover svg path,
#tutoom-join-button:hover svg path {
  fill: #fff !important;
}

.tutoom-warning {
  width: 100%;
  height: 50px;
  background-color: #ffc75440;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 0px 12px;
  border-radius: 8px;
}
/* Start of recording styles */

.tutoom-recordings-table {
  width: 100%;
}

.tutoom-recordings-table .tutoom-recordings-thead {
  width: 100%;
  height: 50px;
  background-color: #f3f2f2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 12px;
  border-radius: 8px;
}

.tutoom-recordings-table .tutoom-recordings-thead h3 {
  width: 25%;
  margin: 0;
  padding: 0;

  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.35px;
  color: #333745;
}

.tutoom-recordings-table .tutoom-recordings-thead h3:first-child {
  text-align: left;
}

.tutoom-recordings-table .tutoom-recordings-tbody {
  width: 100%;
  margin-top: 16px;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.tutoom-recordings-table .tutoom-recordings-tbody .tutoom-recordings-row {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tutoom-recordings-table
  .tutoom-recordings-tbody
  .tutoom-recordings-row
  .tutoom-recordings-thumbnail {
  width: 25%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.tutoom-recordings-table
  .tutoom-recordings-tbody
  .tutoom-recordings-row
  .tutoom-recordings-thumbnail
  .tutoom-recordings-thumbnail-content {
  width: 144px;
  height: 80px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px #33374540;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tutoom-recordings-table
  .tutoom-recordings-tbody
  .tutoom-recordings-row
  .tutoom-recordings-thumbnail
  .tutoom-recordings-thumbnail-content
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tutoom-recordings-table
  .tutoom-recordings-tbody
  .tutoom-recordings-row
  .tutoom-recordings-thumbnail
  .tutoom-recordings-thumbnail-content
  .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tutoom-recordings-table
  .tutoom-recordings-tbody
  .tutoom-recordings-row
  .tutoom-recordings-thumbnail
  .tutoom-recordings-thumbnail-content
  .mask
  > span {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  background-color: rgba(51, 55, 69, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;
}

.tutoom-recordings-table .tutoom-recordings-tbody .tutoom-recordings-row h5 {
  width: 25%;
  margin: 0;
  padding: 0;

  font-size: 0.875rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.25px;
}

.tutoom-recordings-pagination {
  width: 100%;
  margin-top: 4.375rem;

  display: flex;
  align-items: center;
}

.tutoom-recordings-pagination .tutoom-recordings-pagination-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tutoom-recordings-pagination .tutoom-recordings-pagination-wrapper .previous,
.tutoom-recordings-pagination .tutoom-recordings-pagination-wrapper .next {
  height: 36px;
  appearance: none;
  outline: none;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  font-size: 14px;
  padding: 8px 12px;
  color: #266fc5;
}

.tutoom-recordings-pagination .tutoom-recordings-pagination-wrapper .next {
  border-left: 0px;
}

.tutoom-recordings-pagination
  .tutoom-recordings-pagination-wrapper
  .previous.disabled,
.tutoom-recordings-pagination
  .tutoom-recordings-pagination-wrapper
  .next.disabled {
  color: #6c757d;
}

.tutoom-recordings-pagination .tutoom-recordings-pagination-wrapper .btn-page {
  width: 34px;
  height: 36px;
  margin: 0;
  padding: 8px 0px;
  background-color: #fff;

  appearance: none;
  outline: none;
  border: 1px solid #dfdfdf;
  border-left: 0px;

  font-size: 14px;
  color: #266fc5;
}

.tutoom-recordings-pagination
  .tutoom-recordings-pagination-wrapper
  .btn-page.selected {
  background-color: #0f6fc5;
  color: #fff;
}

/* End of recording styles */
