{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_tutoom/recordings_table_content

    This template renders the recordings table content.

    Example context (json):
    {
        "recordings": [],
    }
}}

{{#recordings}}
    <div class="tutoom-recordings-row">
        <div class="tutoom-recordings-thumbnail">
            <div class="tutoom-recordings-thumbnail-content">
                <img
                    src="{{thumbnail}}"
                    alt="Image"
                >
                <div class="mask">
                    <span>
                        <img src='pix/icon-play.svg'>
                    </span>
                </div>
                <div
                    class="thumbnail w-100 h-100"
                    style="position: absolute; top: 0; left: 0; cursor: pointer;"
                    data-meetingid="{{meetingid}}"
                ></div>
            </div>
        </div>
        <h5>{{duration}}</h5>
        <h5>{{date}}</h5>
        <h5>{{time}}</h5>
    </div>
    {{#renderRowSeparator}}
        <div class="w-100" style="height: 2px; background-color: #F3F2F2;"></div>
    {{/renderRowSeparator}}
{{/recordings}}